<h1> <%= t('tasks.body.edit')%> </h1>
<%= render 'form', task: @task %>
<%= link_to t('tasks.back'), root_path%>
<%#= render partial: "form", locals: { task: @task } %>
<%# 完成寫法在上面 完整寫法就要完整 簡寫就要簡寫 %>
