
<%= link_to '新增任務', new_task_path %>

<% @tasks.each do |task| %>
  <div>
    <%= link_to task.title, task %>
    <%= link_to '修改', edit_task_path(task) %>
    <%= link_to '刪除',task, method:'delete' %>
  </div>
<% end %>
